html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
     color: #9aa0c8;
}
p,::placeholder{
    color: #fff;
}

i{
    font-size: 16px;
    color: #9aa0c8;
 
}
.h2{
    display: flex;
    justify-content: space-between;
}
.h2 i{
    color: #9aa0c8;
    font-size: 16px;
    margin-right: 10px;
}
h2,h3{
    color: #8c73a5;
   
}
h2{
    font-size: 20px;
}
body{
    overflow-x: hidden;
    background-color: #6867b5;
}
img{
    width: 100%;
    background-size:cover;
}
.search{
    position: relative;
    display: flex;
    justify-content: center;

}
input{
    background-color: #9e49c5;
    color: #fff;
    position: absolute;
    margin: auto;
    top: -25px;
    width: 300px;
    height: 40px;
    border: 2px solid ;
    border-radius: 10px;
    padding-left: 7px;

}
.icons{
    margin: 30px 0;
    text-align: center;
 
}
.icons p{
    text-transform: capitalize;
}
.icon-1{
    position: relative;
 display: flex;
 justify-content: space-around;
}


.icons i{
    padding-top: 20px;
    margin-inline:20px ;
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #7e7dc5;
}
.head{
    margin-bottom: 40px;
 
}
::-webkit-scrollbar{
display: none;
}
.space{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.space img{
 
    width: 96%;
    height: 140px;
    background-color: black;
    border-radius: 15px;
}

.cards{
  width: 100%;
  display: flex;

  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
    
  
}


.card{
    position: relative;
    width: 31%;
    height: 160px;
    margin-top: 10px;
    margin-inline:7px ;
    border-radius: 15px;
  
}
.card img{
    width: 100%;
    height: 120px;
    border-radius: 15px ;
   
}
.con{
position: absolute;
right: 50%;
bottom:-10px;
}
p,h2{
    margin-left: 10px;
    
}
h2{
    font-weight: 800;
    margin-bottom: 5px;
}

.m-list{
    display: flex;
    justify-content: space-around;
    background-color: #443560;
    padding: 10px;
}
.list{
    padding: 5px;
    border-radius: 7px;
}
.list p,.list i{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.list i{
    margin-bottom: 5px;
    margin-left: 23px;
   
}
.list:hover{
    background-color:#444a67;
}
.dd{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dd p{
    margin-right: 10px;
}

.ga{
    width: 1005;
    display: flex;
    overflow-x: scroll;
}
.ga .y{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.g p,.g h3{

margin-left: 10px;
}
.ga .y img{
width: 100%;
height: 70%;
border-radius: 10px;

}

.g i{
  
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(50%);
}